page-home {
    .balance {
        width: 100%;
        height: 110px;
        padding: 10px;
        text-align: center;
        background: color($colors, primary);
        color: white;
    }

    .pay-button{
        background-color: color($colors, primary);
        width: 130px;
        height: 130px;
        margin: auto;
        border-radius: 40px;
    }

    .pay-button ion-icon {
        margin-left: auto;
        margin-top: 25px;
        color: white;
        font-size: 72px;
    }

    .receive-card {
        width: 200px;
        margin: -20px auto auto auto;
    }

    .qrcode {
        width: 164px;
        margin: auto;
    }

    .swiper-pagination-bullet-active {
        background: color($colors, primary);
    }

}
