<ion-content *ngIf="walletProvider.wallet" padding>
    <ion-grid>
        <ion-row >
            <ion-col>
                    <div class="balance" *ngIf="!settingsProvider.settings.hideBalance">
                            <h5>{{ walletProvider.wallet.balance | currency: settingsProvider.settings.currencySymbol }}</h5>
                            <hr>
                            <h6 ion-text color="light">{{ nativeBalance | currency: settingsProvider.settings.nativeCurrency }}</h6>
                        </div>
                
            </ion-col>
        </ion-row>
        <ion-row class="slides">
            <ion-col>
                    <ion-slides pager>
                            <ion-slide>
                                <div class="pay-button" (click)="navToPay()">
                                    <ion-icon name="share-alt"></ion-icon>
                                </div>
        
                            </ion-slide>
                            <ion-slide>
                                <ngx-qrcode qrc-element-type="url" [qrc-value]="qrCode" qrc-errorCorrectionLevel="L">
                                </ngx-qrcode>
                            </ion-slide>
                        </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button icon-only round (click)="navToTransactions()">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-auto>
                <button ion-button icon-only round (click)="navToSettings()">
                    <ion-icon name="settings"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="!walletProvider.wallet" padding text-center>
    <button ion-button round (click)="walletProvider.create()">
        Create Wallet...
    </button>
</ion-content>